h1{color: dodgerblue;
font-family: initial;
font-size: 40px;}
p{text-align: center;
    font-family: monospace ;
font-size: 25px;
position: relative; top: 110px;}
body{background-color: burlywood;
border-width: 10px;

border-color: rgb(82, 48, 5);
border-style: solid;}